<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Popcorn API</title>
    <link rel="shortcut icon" type="image/jpg" href="favicon.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/" class="navbar-item has-text-weight-semibold has-text-grey-darker">
                <img src="favicon.png" alt="logo" class="mr-2">
                PopCorn API
            </a>
            <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/movies" class="navbar-item">
                    Movies
                </a>
                <a href="/ratings" class="navbar-item">
                    Ratings
                </a>
                <a href="/users" class="navbar-item">
                    Users
                </a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="#" class="button is-info is-light">
                        Documentation
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <section class="m-6 p-6 hero is-info" style="border-radius: 10px;">
        <div class="hero-body">
            <p class="title">
                The greatest movie-rating API
            </p>
            <p class="subtitle">
                Start your own movie-rating database using this simple API.
            </p>
        </div>
    </section>
</body>
</html>