<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PopCorn API - Movies</title>
    <link rel="shortcut icon" type="image/jpg" href="../favicon.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
</head>
<body>

<nav class="navbar mb-4">
    <div class="navbar-brand">
        <a href="/" class="navbar-item has-text-weight-semibold has-text-grey-darker">
            <img src="../favicon.png" alt="logo" class="mr-2">
            PopCorn API
        </a>
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="/movies" class="navbar-item">
                Movies
            </a>
            <a href="/ratings" class="navbar-item">
                Ratings
            </a>
            <a href="/users" class="navbar-item">
                Users
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="#" class="button is-info is-light">
                    Documentation
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="content">
        <h3>How to use the movies endpoint:</h3>
        This is a brief explanation of how to use the movies endpoint <span class="tag">/api/movies</span>.
        <div class="mb-6"></div>

        <h5>Get all the movies</h5>
        <p class="mb-2">Using the <span class="tag">GET</span> method to <span class="tag">/api/movies</span> will return the complete movies list.</p>
        <div class="box has-background-dark has-text-white">
            Testing
        </div>
        <div class="mb-4"></div>

        <h5>Get a movie</h5>
        <p>Using the <span class="tag">GET</span> method</p>
        <div class="mb-4"></div>

        <h5>Create a new movie</h5>
        <p>Using the <span class="tag">POST</span> method</p>
        <div class="mb-4"></div>

        <h5>Update a movie</h5>
        <p>Using the <span class="tag">PUT</span> method</p>
        <div class="mb-4"></div>

        <h5>Delete a movie</h5>
        <p>Using the <span class="tag">DELETE</span> method</p>

    </div>
</div>

</body>
</html>